{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyPkWVhuGPW6L/dinV8rSb12"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"6P1Az55A28Xy"},"outputs":[],"source":["%%writefile requirements.txt\n","streamlit\n","yfinance\n","pandas\n","matplotlib\n","statsmodels\n","numpy\n","scikit-fuzzy"]}]}